.yy {
  text-decoration: none;
  color: white;
}

.ii {
  background-color: rgb(46, 225, 45);
  color: white;
  border-color: black;
  border: 2px;
  border-width: 10px;
  border-radius: 10px;

  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;

  margin-right: 0;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 20px;

  cursor: pointer;
}
.ii:hover {
  background-color: rgb(63, 8, 114);
  box-shadow: 4px 4px 20px black;
}
.ii:active {
  opacity: 0.7;
}

.aaa {
  background-color: rgb(46, 225, 45);
  color: white;
  border-color: black;
  border: 2px;
  border-width: 10px;
  border-radius: 10px;

  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;

  margin-right: 0;
  margin-left: 5px;
  margin-top: 10px;
  margin-bottom: 20px;

  cursor: pointer;
}
.aaa:hover {
  background-color: rgb(63, 8, 114);
  box-shadow: 4px 4px 20px black;
}
.aaa:active {
  opacity: 0.7;
}

.aaaa {
  background-color: rgb(46, 225, 45);
  color: white;
  border-color: black;
  border: 2px;
  border-width: 10px;
  border-radius: 10px;

  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;

  margin-right: 0;
  margin-left: 5px;
  margin-top: 10px;
  margin-bottom: 20px;

  cursor: pointer;
}
.aaaa:hover {
  background-color: rgb(63, 8, 114);
  box-shadow: 4px 4px 20px black;
}
.aaaa:active {
  opacity: 0.7;
}

.aaaaa {
  background-color: rgb(46, 225, 45);
  color: white;
  border-color: black;
  border: 2px;
  border-width: 10px;
  border-radius: 10px;

  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;

  margin-right: 0;
  margin-left: 1300px;
  margin-top: 10px;
  margin-bottom: 20px;

  cursor: pointer;
}
.aaaaa:hover {
  background-color: rgb(63, 8, 114);
  box-shadow: 4px 4px 20px black;
}
.aaaaa:active {
  opacity: 0.7;
}
.tri {
  background-color: black;
  height: 50px;
}

.amazen {
  color: rgb(0, 113, 113);
  text-align: center;
  margin-left: 830px;
  font-size: 50px;
  text-decoration: none;
}
.amazen:hover {
  color: orange;
  font-size: 45px;
}
.jj {
  margin-left: 90px;
   
}

.in {
  color: rgb(0, 118, 0);
 margin-left: 150px;
 
}

.aa {
  margin-left: 120px;
  
}
.add-to-cart {
  background-color: rgb(255, 216, 28);
  color: black;
  cursor: pointer;
  border: none;
  height: 40px;
  width: 170px;
  border-width: 100px;
  margin-left: 20px;
  font-weight: bolder;
  border-radius: 25px;
  font-size: 15px;
}
.add-to-cart:hover {
  background-color: rgb(173, 148, 22);
}
.add-to-cart:active {
  opacity: 0.5;
}
.Buy {
  background-color: rgb(238, 153, 25);
  color: black;
  cursor: pointer;
  border: none;
  height: 40px;
  width: 170px;
  border-width: 100px;
  margin-left: 5px;
  font-weight: bolder;
  border-radius: 25px;
  font-size: 15px;
}
.Buy:hover {
  background-color: rgb(190, 121, 16);
}
.Buy:active {
  opacity: 0.5;
}
.jaban {
  width: 303px;
  height: 303px;
  display: block;
  margin-left: 50px;
}
.tlb {
  margin-left: 840px;
}
.div-1 {
  border-color: black;
  width: 400px;
  display:inline-block;
 
}
.div{
  border-color: black;
  width: 400px;
  display:inline-block;
 margin-left: 80px;
}

