.ali {
  width: 400px;
  height: 200px;
  margin-left: 100px;
  margin-top: 100px;
}
.titl1{
 font-family: serif;
  display: inline;
  font-size: 30px;
  margin-top: 0px;
  margin-left: 150px;
}
.search {
  width: 200px;
  height: 20px;
  margin-right: 0;
  margin-left: 800px;
}
.yas {
  margin-left: 0;
}
.ngaws {
  width: 400px;
  height: 200px;
  margin-left: 20px;
}
.alisr {
  border-radius: 500px;
  width: 50px;
  height: 50px;
  margin-left: 100px;
}
.vuos1 {
  margin-left:  150px;
  color: rgb(85, 85, 85);
  margin-top: 2px;
  display: inline;
}
.ali-3omr{
  width: 400px;
  height: 200px;
  margin-left: 20px;
}

.modir{
  width: 400px;
  height: 200px;
  margin-left: 20px;
}
.titl2{
font-family: serif;
  display: inline;
  font-size: 24px;
  margin-top: 0px;
  margin-left: 140px;
}

.alisrr {
  border-radius: 500px;
  width: 50px;
  height: 50px;
  margin-left: 300px;
}
.vuos2{
   margin-left:  340px;
  color: rgb(85, 85, 85);
  margin-top: 2px;
  display: inline;
}
.titl3{
  font-family: serif;
  display: inline;
  font-size: 25px;
  margin-top: 0px;
  margin-left: 50px;
}
.titl4{
  font-family: serif;
  display: inline;
  font-size: 25px;
  margin-top: 0px;
  margin-left: 970px;
}
.brofil{
  border-radius: 500px;
  width: 50px;
  height: 50px;
  margin-left: 300px;
}
.chan{
display: inline;
font-size: 24px;
font-family: serif;
}
.liccy{
   border-radius: 500px;
  width: 50px;
  height: 50px;
  margin-left: 290px;
}
.titl5{
   font-family: serif;
  display: inline;
  font-size: 25px;
  margin-top: 0px;
  margin-left: 150px;
}
.vuos3{
   margin-left:  360px;
  color: rgb(85, 85, 85);
  margin-top: 2px;
  display: inline;
}
.vuos4{
   margin-left:  350px;
  color: rgb(85, 85, 85);
  margin-top: 2px;
  display: inline;
}
